<div class="card testimonial">
    <div class="grid grid--1x2">
        <div>
    <img class="image__quote" src="images/quote.jpg" alt="happy smiling customer">
    </div>
    <div class="testimonial__icon">
        <span class="icon-container">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#quotes"></use>
              </svg>
            </span>
            <blockquote class="quote">
                <p class="quote__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, accusantium nemo. Officiis ipsam ea maiores odio dignissimos enim in vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus distinctio impedit sequi sint enim, modi ea at rerum soluta aperiam minima voluptatum explicabo harum molestiae rem? Commodi, dolor
                    
                </p>
            <footer>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media__body">                  
                <h3 class="media__title quote__author"> John Smith</h3>
                <p class="quote__company">ABC Company</p>
    
            </div>
        </div>
            </footer>
            
            </blockquote>
        
        </div>
    </div>
    </div>
    </div>
    